.wrapper {
    padding: 29px 25px 29px 42px;
    width: 100%;
    max-width: 363px;
    background-color: #ffffff;
    border-radius: 15px;
}

h2 {
    font-size: 2rem;
}

p {
    opacity: 0.8;
    font-size: 0.9em;
}

.icon {
    width: 5rem;
    height: 5rem;
}

.row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
}

.row:nth-child(2) {
    justify-content: space-between;
}

.niceInfo {
    text-align: left;
}

.niceInfo h3 {
    font-size: 1.5rem;
}

.data {
    display: flex;
    align-items: center;
    gap: 0.5rem;

}

.info {
    text-align: right;
    font-size: 0.8em;
}

.info span {
    color: #86BF02;
}