.wrapper {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #E2E2EA;
    background-color: #ffffff;
}

.logo {
    width: 100%;
    max-width: 249px;
    border-right: 1px solid #E2E2EA;
    justify-self: flex-start;
    padding: 1.2rem 0;
}

.info {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.cta button {
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color: #00A86B;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    max-width: 213px;
    cursor: pointer;
}

.icon {
    width: 22.12px;
    height: 17px;
}