aside {
    width: 100%;
    max-width: 249px;
    border-right: 1px solid #E2E2EA;
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: #ffffff;
    gap: 1rem;
}

aside header {
    margin-top: 26px;
}

aside h4 {
    margin-left: 20px;
    color: #6D7D78;
    margin-bottom: 9px;

}

.icon {
    height: 52px;
    display: flex;
    align-items: center;
    font-size: 1em;
    margin-bottom: 9px;
    padding-left: 22px;
    border-left: 4px solid transparent;
}

.extras header {
    display: flex;
    justify-content: space-between;
    padding-right: 1rem;
}

.extras button {
    background-color: transparent;
    border: none;
    outline: 0;
}

.toggle {
    overflow: hidden;
    transition: 0.3s ease-in-out;
}

.icon:active,
.icon:focus,
.icon:hover {
    border-left: 4px solid green;
    color: green;
}

.upsell {
    background-color: rgba(144, 238, 144, 0.555);
    font-size: 0.8em;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.upsell h3 {
    margin-bottom: 0.5rem;
}

.upsell p {
    display: inline-block;
    margin-right: 1rem;
}

.upsell button {
    border: none;
    padding: 0.3rem;
    background-color: transparent;
    border: 1px solid #333;
    border-radius: 0.5rem;
}